spec:
  data:
    beers:
      - id: 1
        name: Pilsner
        lowest_safe_temp: 4
        highest_safe_temp: 6
      - id: 2
        name: IPA
        lowest_safe_temp: 5
        highest_safe_temp: 6
      - id: 3
        name: Lager
        lowest_safe_temp: 4
        highest_safe_temp: 7
      - id: 4
        name: Stout
        lowest_safe_temp: 6
        highest_safe_temp: 8
      - id: 5
        name: Wheat beer
        lowest_safe_temp: 3
        highest_safe_temp: 5
      - id: 6
        name: Pale Ale
        lowest_safe_temp: 4
        highest_safe_temp: 6
  temperature_sensor_api:
    base_url: https://temperature-sensor-service.herokuapp.com
    sensor_endpoint: /sensor/{id}
    frequency: 1000
    timeout: 3000
    error_threshold_pct: 50
    reset_timeout: 30000
